.client-button {
  display: flex;
  margin-right: 30px;
}

.client-button:last-of-type {
  margin-right: 0px;
}

.link-client {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-gray);
  border-radius: 4px;

  color: var(--icons-gray);

  align-items: center;
  justify-content: center;

  transition: color $trans, border $trans;

  &:hover,
  &:focus {
    border: 1px solid var(--brand-accent-color);
    color: var(--brand-accent-color);
  }
}

.icon-client {
  fill: currentColor;
}
